@model QuizManagement_Model.ViewModel.QuizModel

<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <div class="container-fluid">
                <form action="Create" method="post" id="myForm">
                    <h2 class="text-primary text-center">Create Quiz</h2>
                    <div class="row">
                        <div class="col-6 mt-3">
                            <label for="title">Quiz Title</label>
                            <input type="text" name="title" class="form-control" />
                            @Html.ValidationMessageFor(m => m.title, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-6 mt-3">
                            <label name="description">Quiz Description</label>
                            <input type="text" name="description" class="form-control" />
                            @Html.ValidationMessageFor(m => m.description, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-12">
                            <input type="text" value="@Session["UserId"]" name="created_By" class="form-control" hidden/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mt-3 d-flex justify-content-between align-items-center">
                            <h4 class="text-primary">Question List</h4>
                            <button type="button" class="btn btn-info" onclick="addQuestion()">Add Question</button>
                        </div>
                        <div class="questionBody mt-3"></div>
                    </div>
                    <div class="d-flex justify-content-center mt-3">
                        <button class="btn btn-info" type="submit">Create Quiz</button>
                    </div>
                </form>
            </div>
            <div class="mt-5">
                <a class="btn btn-primary" href="Index">Back To Home</a>
            </div>
        </div>
    </div>
</div>

<script>
    function addQuestion() {

        var NumOfQuestions = $(".question").length;
        var html = $(".questionBody");
        if (NumOfQuestions < 5) {
            var questionHtml = `<div class="question mt-3">
                                    <div class="d-flex justify-content-center align-items-center gap-4">
                                        <input type="text" name="QuestionModelList.Index" value="${NumOfQuestions}" hidden/>
                                        <p class="fs-4"> ${NumOfQuestions + 1}.</p>
                                        <input class = "form-control mx-2" name="QuestionModelList[${ NumOfQuestions}].ques_text" />
                                    </div>
                                    <div>
                                        <div class="row mt-2">
                                        @{
                                            for (int option = 0; option < 4; option++)
                                            {
                                                <div class="col-6 d-flex align-items-center gap-4 mt-3">
                                                <span class="fs-4">(@((char)('A' + option)))</span>
                                                <input class="form-control mx-2" name="QuestionModelList[${NumOfQuestions}].OptionList[@option].option_text" />
                                                <input hidden class = "form-control" name="QuestionModelList[${NumOfQuestions}].OptionList[@option].is_correct" value=false />
                                                </div>
                                            }
                                        }
                                        </div>
                                    </div>
                                    <div class="mt-3">
                                        <select onchange="bindCorrectAnswer(${NumOfQuestions}, this)">
                                            <option>Select Correct option</option>
                                            <option value="0">A</option>
                                            <option value="1">B</option>
                                            <option value="2">C</option>
                                            <option value="3">D</option>
                                        </select>
                                    </div>
                                </div>`;

            // Append to HTML
            html.append(questionHtml);
        }
    }

    function bindCorrectAnswer(QuesID, ele) {

        let correctAns = $(ele).val();
        let options = document.querySelectorAll(`[name^="QuestionModelList[${QuesID}].OptionList"]`)

        options.forEach(function (option) {
            if (option.name.endsWith('.is_correct')) {
                option.value = 'false';
            }
        })
        if (correctAns !== '') {
            let element = $(`[name = "QuestionModelList[${QuesID}].OptionList[${correctAns}].is_correct"]`);
            $(element).attr('value', true);
            console.log(element.value)

        }
    }

    
</script>
