<li class="nav-item active">
    <a class="nav-link" href="~/Suppier/Product">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Product List</span>
    </a>
</li>

<li class="nav-item active">
    <a class="nav-link" href="~/Suppier/SuppierList">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Suppier List</span>
    </a>
</li>
