
@{
    ViewBag.Title = "ViewResult";
}

<h2>ViewResult</h2>

<div class="container">
    <div class="card">
        <div class="card-body">
            <h1>@(ViewBag.score * 10) </h1>
            <div>
                <a href="Index" class="btn btn-primary">Back To Dashboard</a>
            </div>
        </div>
        
    </div>
</div>

