<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- theme meta -->
    <meta name="theme-name" content="quixlab" />

    <title>MVC Crud</title>
    <!-- Favicon icon -->
    @*<link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">*@
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/Theme/Dashboard/images/favicon.png">
    <!-- Pignose Calender -->
    <link href="~/Content/Theme/Dashboard/plugins/pg-calendar/css/pignose.calendar.min.css" rel="stylesheet">

    <!-- Chartist -->
    <link rel="stylesheet" href="~/Content/Theme/Dashboard/plugins/chartist/css/chartist.min.css">
    <link rel="stylesheet" href="~/Content/Theme/Dashboard/plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css">
    <!-- Custom Stylesheet -->
    <link href="~/Content/Theme/Dashboard/css/style.css" rel="stylesheet">

    <!--Toastr css-->
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    
    <style>
        .field-validation-error {
            color: red;
        }
    </style>

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="#">
                    <b class="logo-abbr"><img src="~/Content/Theme/Dashboard/images/logo.png" alt=""> </b>
                    <span class="logo-compact"><img src="~/Content/Theme/Dashboard/images/logo-compact.png" alt=""></span>
                    <span class="brand-title">
                        <img src="~/Content/Theme/Dashboard/images/logo-text.png" alt="">
                    </span>
                </a>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->
        <!--**********************************
            Header start
        ***********************************-->
        @Html.Partial("_Header")
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->


        <!--**********************************
            Sidebar start
        ***********************************-->
            @Html.Partial("_Sidebar")
        <!--**********************************
            Sidebar end
        ***********************************-->


        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            @RenderBody()
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->

        <!--**********************************
            Footer start
              @Html.Partial("_Footer")
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->
    <!--**********************************
        Scripts
    ***********************************-->

    <script src="~/Content/Theme/Dashboard/plugins/common/common.min.js"></script>
    <script src="~/Content/Theme/Dashboard/js/custom.min.js"></script>
    <script src="~/Content/Theme/Dashboard/js/settings.js"></script>
    <script src="~/Content/Theme/Dashboard/js/gleek.js"></script>
    <script src="~/Content/Theme/Dashboard/js/styleSwitcher.js"></script>

    <!-- Chartjs -->
    <script src="~/Content/Theme/Dashboard/plugins/chart.js/Chart.bundle.min.js"></script>
    <!-- Circle progress -->
    <script src="~/Content/Theme/Dashboard/plugins/circle-progress/circle-progress.min.js"></script>
    <!-- Datamap -->
    <script src="~/Content/Theme/Dashboard/plugins/d3v3/index.js"></script>
    <script src="~/Content/Theme/Dashboard/plugins/topojson/topojson.min.js"></script>
    <script src="~/Content/Theme/Dashboard/plugins/datamaps/datamaps.world.min.js"></script>
    <!-- Morrisjs -->
    <script src="~/Content/Theme/Dashboard/plugins/raphael/raphael.min.js"></script>
    <script src="~/Content/Theme/Dashboard/plugins/morris/morris.min.js"></script>
    <!-- Pignose Calender -->
    <script src="~/Content/Theme/Dashboard/plugins/moment/moment.min.js"></script>
    <script src="~/Content/Theme/Dashboard/plugins/pg-calendar/js/pignose.calendar.min.js"></script>
    <!-- ChartistJS -->
    <script src="~/Content/Theme/Dashboard/plugins/chartist/js/chartist.min.js"></script>
    <script src="~/Content/Theme/Dashboard/plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js"></script>

    <script src="~/Content/Theme/Dashboard/js/dashboard/dashboard-1.js"></script>
   
</body>

</html>
