@model TaskManagement_Model.ViewModel.TaskModel



<div class="container-fluid">
    <h2>Add Task</h2>
    <div class="mt-5">
        <form action="Addtask" method="post">
           <input type="text" name="CreatorID" value="@Session["UserId"]" hidden/>
            <div class="form-group">
                <label for="TaskName">Task Name</label>
                <input type="text" class="form-control" placeholder="Task Name" name="TaskName" />
                @Html.ValidationMessageFor(m => m.TaskName)
            </div>

            <div class="form-group">
                <label for="Description"></label>
                <input type="text" class="form-control" placeholder="Task Description" name="Description" />
                @Html.ValidationMessageFor(m => m.Description)
            </div>

            <div class="form-group">
                <label for="Deadline">Deadline</label>
                <input type="date" class="form-control" name="Deadline" id="deadline" />
                @Html.ValidationMessageFor(m => m.Deadline)
            </div>

            <div class="form-group form-button">
                <input type="submit" class="form-submit btn btn-secondary" value="Submit" id="signin" />
            </div>
        </form>
    </div>
</div>

<script>
    // Get today's date
    var today = new Date();

    // Format today's date to YYYY-MM-DD
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0'); // January is 0!
    var yyyy = today.getFullYear();

    // Set the input field's min attribute to today's date
    document.getElementById("deadline").min = yyyy + '-' + mm + '-' + dd;
</script>