

<div class="container-fluid">
    <form action="AssignTask" method="post">
        <input class="form-control"/>
        <div>
            <select class="form-control choices-multiple" name="StudentID" multiple>
                @foreach (var item in ViewBag.AllStudentList)
                {
                    <option value="@item.StudentID">@item.Username</option>
                }
            </select>
        </div>
    </form>
</div>
