@model List<TaskManagement_Model.ViewModel.AssignmentModelList>

<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            CompletedTask List
        </div>
        <div class="card-body">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <td>Task Name</td>
                        <td>Task Description</td>
                        <td>Student Name</td>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.TaskName</td>
                                <td>@item.Description</td>
                                <td>@item.StudentName</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

            <div>
                <a href="Index" class="btn btn-info">Back to Dashboard</a>
            </div>
        </div>
    </div>
</div>